/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/* custom css  start here */

.uabb-image-carousel-content:hover .uabb-background-mask {
  background: rgba(0, 0, 0, 0.3) !important;
}

.facetwp-selections ul:before {
  content: "YOUR SELECTION";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #004454;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #004454;
  padding: 5px 5px 5px 0px;
}

.facetwp-selections ul {
  padding-bottom: 20px;
  padding-left: 0;
}

.gform_body .gfield_checkbox > li {
  display: flex !important;
  align-items: baseline !important;
}
.gform_body .gfield_checkbox > li input {
  margin-right: 4px !important;
}

.InspirationSlide .fl-slide-text > p {
  margin: 0px !important;
}
.button-wrapper-default a {
  color: #fff !important;
}
.responsive-button-wrapper-default a {
  color: #fff !important;
}
.fl-post-header h1 {
  font-size: 30px !important;
}
.uabb-image-carousel .slick-prev.slick-arrow {
  left: 20px !important;
}
.uabb-image-carousel .slick-next.slick-arrow {
  right: 20px !important;
}
.uabb-image-carousel .slick-list {
  padding: 0 20px !important;
}
.fl-page-nav-search form input.fl-search-input {
  background-color: #fff !important;
}
.fl-page-nav-search form input.fl-search-input::placeholder {
  color: #000;
}
.add_loc p,
.add_loc .storename {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.product-grid .getcoupon-btn span {
  color: #fff !important;
}
.facet_filters strong {
  color: #004454 !important;
  border-color: #004454 !important;
}

.button-wrapper a {
  text-transform: uppercase !important;
}

.fl-page-nav-search form input.fl-search-input {
  color: #000 !important;
}
#breadcrumbs .breadcrumb_last {
  color: #000 !important;
}

.footerWraper .add_loc a {
  color: #bababa !important;
}

.footerWraper .add_loc a:hover {
  color: #fff !important;
}
input[type="checkbox"] + label:before {
  border-radius: 0px !important;
}
/* custom css  end here */
/*Footer Socila Icons */

ul.social-icons li {
  margin: 0px 0px 0px 0;
  width: 60px;
}

ul.social-icons li a i {
  font-size: 30px;
  color: #869bae;
}

ul.social-icons li a {
  color: #869bae !important;
}

ul.social-icons li a:hover {
  color: #ffffff !important;
}
.fl-page-nav-search form input.fl-search-input {
  background-color: #fff !important;
}
.f-0 .fl-heading-text {
  font-size: 0;
}
.footer-phone-no .fl-icon-wrap {
  display: flex;
  align-items: center;
}
.footer-phone-no .fl-icon-wrap .fl-icon-text-wrap {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.fl-page-bar-text.fl-page-bar-text-2 .top_bar a {
  margin-right: 4px !important;
  font-size: 14px !important;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
}
.fl-page-bar-text.fl-page-bar-text-2 .top_bar a:nth-child(2) {
  margin-right: 0px !important;
}
.fl-page-bar-text.fl-page-bar-text-2 .top_bar a i {
  margin-right: 2px !important;
}
.fl-page-bar-text.fl-page-bar-text-2 .top_bar a i.at-the-rate-code {
  font-size: 15px !important;
  vertical-align: initial;
}
.fl-page-bar-text.fl-page-bar-text-2 .top_bar a i.fa-comment-dots {
  font-size: 16px !important;
  vertical-align: bottom;
}
.footer-phone-no .fl-icon-wrap .fl-icon-text-wrap * {
  margin-bottom: 0;
}
.footer-phone-no .fl-icon-wrap .fl-icon-text-wrap .fa-comment-dots:before {
  margin-right: 10px;
  font-size: 20px;
  vertical-align: sub;
}
.footer-phone-no .fl-icon-wrap .fl-icon-text-wrap .at-the-rate-code {
  vertical-align: middle;
  font-size: 20px;
  margin-right: 10px !important;
}

.storename .direction a span.button-text {
  color: #fff !important;
}
.storename .direction a {
  color: #fff !important;
}
.fl-module-uabb-gravity-form
  .uabb-gf-style
  .gform_wrapper
  .gform_footer
  input[type="submit"] {
  border-radius: 20px !important;
  color: #fff !important;
}
.cou_mess > div.message {
  padding-top: 6px !important;
}

.fl-page-bar .fl-page-bar-text-1 a div {
  padding-top: 6px !important;
}
.fl-page-bar {
  font-size: 14px !important;
  padding: 4px 0px !important;
}
.fl-page-bar .phone a span:before {
  content: "\f095";
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #004454;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #869bae !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "Poppins",sans-serif !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: 1px solid #fff !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #004454 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #004454 !important;
  border: 1px solid #fff !important;

}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #869bae !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #004454 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #004454 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #869bae !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Poppins",sans-serif !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #004454 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #869bae !important;
}

@media (min-width: 992px) {
  .fl-page-bar .fl-page-bar-row > div:nth-child(1) {
    width: 33% !important;
  }

  .fl-page-bar .fl-page-bar-row > div:nth-child(2) {
    width: 66% !important;
  }
  .map iframe {
    min-height: 550px !important;
  }
     header .fl-page-header-container {
    width: 100%;
    /* max-width: 1360px; */
    /* margin: 0px; */
  }
  header .fl-page-header-wrap {
    border: 0px !important;
  }
  .Visit_us a {
    padding: 12px 24px !important;
    background: #95d409 !important;
    font-weight: 400 !important;
    color: #fff !important;
    transition: all 0.6s;
    display: inline-flex !important;
  }
  .Visit_us a:hover {
    background: #000 !important;
    color: #fff !important;
  }
  header {
    border-bottom: 1px solid #00000042 !important;
  }
  /* 	.nav-link:before{
		content: "\f3c5";
		font-family: FontAwesome;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: top;
    margin: 2px 0 0 10px;
    font-weight: 400;
	} */
}

#field_23_4,
#field_22_4 {
  width: 100% !important;
  padding-right: 0px !important;
}

#field_23_2,
#field_16_2,
#field_27_2,
#field_22_2 {
  padding-right: 0px !important;
}

#choice_23_11_1,
#choice_16_7_1,
#choice_27_7_1 {
  vertical-align: top !important;
}

#field_19_10 {
  margin-top: 24px !important;
}

#field_19_10 > div {
  margin-top: 0px !important;
}

#menu-copyright-bar-menu a {
  color: #080808 !important;
  font-weight: 500 !important;
  font-size: 12px;
}

footer .fl-rich-text p {
  color: #080808 !important;
  font-size: 12px;
  font-weight: 500 !important;
}

.top_bar .storename .address p {
  display: inline-block !important;
  margin-left: 4px !important;
  margin-top: 12px;
  font-size: 14px;
}

.top_bar .storename .address a {
  font-size: 14px !important;
}

.fl-page-bar-container {
  padding: 0px !important;
}

.top_bar .phone {
  margin-top: 12px !important;
}

.top_bar .phone a {
  font-size: 14px !important;
}

.fl-page-bar-text.fl-page-bar-text-1 {
  padding: 0px !important;
}

.fl-page-bar-text-1 .storename {
  margin-bottom: 0px !important;
}

.fl-page-bar-text.fl-page-bar-text-2 {
  padding: 0px !important;
}

.fl-page-bar-text-2 .storename {
  margin-bottom: 0px !important;
  display: inline-block !important;
}

.fl-page-bar-text-2 i {
  margin-right: 6px !important;
  margin-top: 4px !important;
  font-size: 14px !important;
}

/* .nav-link:before{
	content: "\f3c5";
	color: #fff;
	font-family: "Font Awesome 5 Free";  
} */

.Visit_us a:before {
  content: "\f041";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  margin-right: 6px;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
}

.Visit_us a {
  display: flex;
  align-items: center;
}
.fl-slide-1:hover {
  cursor: pointer !important;
}

.facet_wrap button,
.page-info .pagination_wrapper>div button, 
div#mm-product-list .facet_wrap button, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button,
div#mm-product-details .product-detail-layout-6 .button-wrapper a, 
.row.search-row .posts_search_result .product-item a.fl-button, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button {
    background: #fff!important;
    color: #869bae!important;
    border: 2px solid #869bae;
    text-transform: uppercase!important;
    border-radius: 30px;
}

.facet_wrap button:hover,
.page-info .pagination_wrapper>div button:hover, 
div#mm-product-list .facet_wrap button:hover, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button:hover,
div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover, 
.row.search-row .posts_search_result .product-item a.fl-button:hover, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button:hover {
    background: #004454!important;
    color: #fff!important;
    border: 2px solid #004454;
    text-transform: uppercase!important;
    border-radius: 30px;
    text-transform: uppercase!important;
}
.facetwp-selections ul:before {
    content: "Your Selection";
}
.facetwp-selections ul:before, 
div#mm-product-list .product-list-container .facet_filters strong {
    border-bottom: 2px solid #004454 !important;
    color: #004454 !important;
}

.product-plp-grid > .product-row > .col-lg-4 > .fl-post-grid-post .product-grid.btn-grey>h4>span:first-child, 
.row.search-row .posts_search_result.post_list.product-grid.swatch h2, 
div#search-result-page .product-plp-grid .product-item .fl-post-grid-post .fl-post-grid-text h4>span:first-child{
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px !important;
    line-height: 1.2em;
    min-height: 34px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 1100px) {
  .fl-page-nav-right .fl-page-nav-wrap:before {
    content: "27 Years of Service and Experience";
    text-transform: uppercase;
    margin-top: 20px;
    display: inline-block;
    font-weight: 600;
    text-decoration: underline;
  }
}

@media (min-width: 1023px) and (max-width: 1180px) {
  #menu-main-menu-1 li a {
    padding: 16px 4px !important;
  }
  .fl-page-bar .fl-page-bar-text-1 a div {
    padding-left: 20px !important;
    font-size: 11px !important;
  }
}

@media (max-width: 992px) {
  footer * {
    text-align: center !important;
  }
  .fl-page-header-container {
    padding-bottom: 20px !important;
  }
  .fl-page-header-container > div {
    border: none !important;
    margin: 0px !important;
  }
   .fl-page-nav-wrap {
    border: none !important;
    border-width: 0px !important;
  }

  #responsive-menu-additional-content {
    padding: 3px 5% !important;
  }
  .fl-page-header-primary .fl-logo-img {
    max-width: 70% !important;
  }
  .mob_link {
    padding-left: 15% !important;
  }
  #responsive-menu-additional-content .storename .phone a span:before {
    content: "\f095";
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
  }
  #responsive-menu-search-box {
    padding: 18px 5% !important;
  }
  .rmp-menu-additional-content .phone {
    text-align: left !important;
  }
  #responsive-menu-additional-content .storename .phone a span {
    color: #fff !important;
  }
  footer nav .menu-item a {
    padding-left: 0px !important;
  }
  .fl-page-bar-text-2 div.top_bar {
    padding-bottom: 10px !important;
  }
  .store-opening-hrs {
    padding-left: 0px !important;
  }
  .fl-post-image-beside {
    width: 100% !important;
  }
  .remove-bg .fl-col-content {
    background-color: transparent !important;
  }
  .Visit_us a:before {
    content: "";
  }
  .Visit_us a {
    text-transform: capitalize !important;
  }
  .remove-bg .fl-col-content h1 {
    color: #fff !important;
    text-shadow: 2 0 3 #000 !important;
  }
  .remove-bg .fl-col-content h1 strong {
    color: #fff !important;
    text-shadow: 2 0 3 #000 !important;
  }
  button#responsive-menu-button {
    width: 40px !important;
    height: 40px !important;
  }
  .fl-page-header-logo a img {
    max-height: 78px !important;
  }
  .fl-page-bar-container {
    padding: 0px 20px !important;
  }
  .fl-page-header-logo {
    padding: 0px 0px !important;
  }
  .fl-page-header-logo img {
    float: left !important;
  }
  .fl-page-header-logo-col {
    padding-left: 0px !important;
  }
  #menu-copyright-bar-menu li {
    float: left !important;
  }
  footer .fl-node-5c6fdfb622749 nav {
    text-align: center !important;
  }
  .fl-node-5c6fdfb622747 .fl-rich-text > p {
    text-align: center;
  }
}

.storename .store-opening-hrs-container ul {
  list-style: none;
}

.storename .store-opening-hrs-container ul li {
  position: relative;
}

.storename .store-opening-hrs-container ul li span {
  position: absolute;
  right: 0;
  width: 60%;
}

footer .fl-node-5dd701da5b06c .message {
  display: inline;
}

.loc_add .storename p {
  margin-bottom: 0px !important;
}

.loc_add .fa-map-marker {
  margin-bottom: 12px;
}
.info_terms p,
.info_terms * {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .fl-page-nav-wrap {
    border: none !important;
    border-width: 0px !important;
  }
}

@media (max-width: 992px) {
  .rmp-menu-additional-content .phone {
    text-align: left !important;
  }

  .fl-builder-content[data-type="part"] .fl-icon-text > p,
  .fl-builder-content[data-type="part"] .fl-icon-text .storename {
    margin: 0px !important;
  }

  .fl-builder-content[data-type="part"] .fl-icon-text {
    height: 20px;
  }

  .fl-builder-content[data-type="part"] .fl-row-content-wrap {
    padding-bottom: 5px;
  }
  #rmp_menu_trigger-1127986 {
    top: 100px !important;
  }
  .fl-slide .fl-slide-foreground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .fl-slide .fl-slide-foreground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .InspirationSlide .fl-slide-content {
    padding: 0px !important;
  }

  .InspirationSlide .fl-slide .fl-slide-foreground {
    position: static !important;
    transform: none !important;
  }
  .fl-slide .fl-slide-foreground .fl-slide-content {
    background-color: transparent !important;
  }
  .color_variations_slider_default .slick-list .slick-track {
    margin: 0 auto !important;
  }
  .open_sidebar a span,
  .close_sidebar_button a span {
    color: #fff !important;
  }
  .max-width-issue {
    max-width: 400px !important;
    margin: 0 auto !important;
  }

  /* Slider height issue on mobile open */

  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: +2;
  }
  /* Slider height issue on mobile closed */

  /* PLP Page Css iPad Air */
  .open_sidebar {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .open_sidebar a {
    float: unset;
  }

  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }

  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
    max-width: 100%;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .open_sidebar {
    max-width: 160px;
    margin: 0 auto;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }

  .facet_filters .close_bar .close {
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    float: right;
    color: #fff;
    opacity: 1;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .product-detail-layout-6 .product-box .row:first-child .col-md-6:first-child {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6
    .product-box
    .row:first-child
    .col-md-6:nth-child(2) {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6 .toggle-image-thumbnails {
    align-items: center !important;
    justify-content: center !important;
  }

  .facetwp-per-page select {
    border: 1px solid #000;
  }
  .facet_filters .fl-html {
    text-align: left;
  }
  /* PLP Page Css iPad Air */
  ul,
  ol {
    padding-left: 20px;
    margin: 0;
  }

  .fl-page-content .uabb-module-content.uabb-infobox.infobox-left,
  .fl-page-content .fl-module-heading .fl-heading,
  .fl-page-content .fl-rich-text,
  .fl-page-content .fl-rich-text *,
  .fl-page-content .review-wrap,
  .fl-page-content .fl-builder-content .fl-button-left,
  .fl-page-content .fl-cta-left *,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename,
  .fl-page-content .fl-module-content .fl-rich-text ul.storename *,
  .fl-page-content
    .fl-module-content
    .uabb-infobox-text.uabb-text-editor
    ul.storename,
  .fl-page-content
    .fl-module-content
    .uabb-infobox-text.uabb-text-editor
    ul.storename
    *,
  .fl-page-content .fl-module-content ul.storename *,
  .uabb-module-content.uabb-button-wrap,
  .fl-page-content .fl-html {
    text-align: center !important;
  }
  .fl-page-content .fl-module-content .fl-rich-text ul,
  .fl-page-content .fl-module-content .fl-rich-text ol,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol {
    margin: 0;
    padding-left: 0;
  }

  .fl-page-content .fl-module-content .fl-rich-text ul *,
  .fl-page-content .fl-module-content .fl-rich-text ol *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ul *,
  .fl-page-content .fl-module-content .uabb-infobox-text.uabb-text-editor ol *,
  .fl-page-content .text_left_content .fl-rich-text ul.storename *,
  .fl-page-content .text_left_content .fl-rich-text *,
  .fl-page-content .facet_filters * {
    text-align: left !important;
  }
  .storename .store-opening-hrs-container ul li span {
    position: static;
  }
  h1 {
    margin: 0 !important;
    padding: 0 !important;
  }
  .fl-row.fl-row-full-width.fl-row-bg-photo.fl-row-custom-height.fl-row-align-center.fl-row-bg-overlay
    .fl-module-content.fl-node-content,
  .fl-row.fl-row-full-width.fl-row-bg-photot.fl-row-align-center.fl-row-bg-overlay
    .fl-module-content.fl-node-content {
    margin: 20px;
  }
}

@media (max-width: 576px) {
  .store_loc .w-100 {
    width: 100% !important;
  }
  .fl-page-header-container {
    padding-left: 15px !important;
  }
  .responsive-menu-button {
    height: 45px !important;
    width: 45px !important;
  }
  .top_bar .address p:nth-child(2) {
    margin-top: 0px !important;
  }
  .slider .fl-slide-0 .fl-slide-content {
    padding: 10px !important;
  }
}

@media (max-width: 480px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100% !important;
    clear: left !important;
  }
}

@media (max-width: 425px) {
  .form_padd_issue .uabb-gf-style {
    padding: 20px 10px !important;
  }
  .footerWraper .fl-col-group .fl-col {
    width: 100% !important;
  }
  .uabb-photo__gallery-filters li {
    width: 100% !important;
    margin: 0px !important;
  }
  .uabb-photo__gallery-filters {
    height: auto;
    width: 100% !important;
    padding-left: 0px !important;
  }
  .uabb-photo-gallery-filter-grid {
    width: 100%;
  }
  .gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
  .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type="checkbox"],
  .gform_wrapper.gf_browser_chrome .gfield_radio li input[type="radio"] {
    margin-top: 3px !important;
  }
}

.search-row .product-grid .getcoupon-btn {
  padding: 8px 12px;
  text-decoration: none;
}

.search-row .product-grid .plp-view-product {
  margin-top: 8px !important;
}

.page-list .page-item-349302 {
  display: none;
}

input[type="checkbox"] {
  vertical-align: top !important;
}

/* cutom css start here */

.icon_color_prob .uabb-team-icon-1 .uabb-icon-wrap .uabb-icon i,
.fl-node-5db0680858b73 .uabb-team-icon-1 .uabb-icon-wrap .uabb-icon i:before {
  color: #869bae !important;
}
.icon_color_prob .uabb-team-icon-1 .uabb-icon-wrap .uabb-icon i,
.fl-node-5db0680858b73
  .uabb-team-icon-1
  .uabb-icon-wrap
  .uabb-icon:hoveri:before {
  color: #004454 !important;
}

@media (max-width: 320px) {
     .copy_bar_menu li.menu-item:nth-child(3) {
    transform: translate(136%, 0%);
  }
  #menu-copyright-bar-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  button#responsive-menu-button {
    top: 35px !important;
  }
}

.text-right {
  text-align: right;
}

.search-row header {
  border-bottom: 0px !important;
}

.FloorteBtn h1 a:hover {
  color: #95d409 !important;
}

@media (min-width: 992px) {
  .style-product_list .pro-container .row .col-md-7 {
    width: 48.333333% !important;
  }
}
